{% extends "temp.html" %}
{% load static %}
{% block right_data %}
        <!-- -------right side main content------ -->
        <div class="main-content">
            <nav>
                <div class="top" id="bell">
                    <img src="{% static '/images/Component 38 – 2.png' %}" alt="">
                </div>
            </nav>
            <!-- profile drop down  -->
            <div class="d-flex justify-content-center align-items-center p-1">
                <div>
                  <!-- <i class="icon bi bi-bell" id="bell"></i> -->
                  <div class="notifications " id="box">
                    <div class="notifications-item">
                        <div class="text">
                            <i class=" bi bi-person" style="font-size: 1.5rem;"></i>
                            <a class="text-dark" href="./all-customers.html">
                                Custormer
                            </a>
                        </div>
                    </div>
                    <div class="notifications-item">
                      <div class="text">
                        <i class="bi bi-gear" style="font-size: 1.5rem;"></i>
                        <a class="text-dark" href="./settings.html">
                            Settings
                        </a>
                      </div>
                    </div>
                    <div class="notifications-item">
                      <div class="text">
                        <i class="bi bi-box-arrow-in-right"  style="font-size: 1.5rem;"></i>
                        <a class="text-dark" href="#">
                            Logout
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
         
                  <script>
                    $(document).ready(function(){
                
                    var down = false;
                    
                    $('#bell').click(function(e){
                      
                        var color = $(this).text();
                        if(down){
                            
                            $('#box').css('height','0px');
                            $('#box').css('opacity','0');
                            down = false;
                        }else{
                            
                            $('#box').css('height','auto');
                            $('#box').css('opacity','1');
                            down = true;
                            
                        }
                        
                    });
                        
                        });
                  </script>
         
                  <style>
                    a{
                        text-decoration: none;
                    }
                    .icon {
                      cursor: pointer;
                      margin-right: 5px;
                      /* line-height: 60px; */
                    }
                    .icon span {
                      background: #f00;
                      padding: 7px;
                      border-radius: 50%;
                      color: #fff;
                      vertical-align: top;
                      /* margin-left: -25px; */
                    }
                    .icon img {
                      display: inline-block;
                      width: 26px;
                      margin-top: 4px;
                    }
                    .icon:hover {
                      opacity: 0.7;
                    }
                    .logo {
                      flex: 1;
                      /* margin-left: 50px; */
                      color: #eee;
                      font-size: 20px;
                      font-family: monospace;
                    }
                    .notifications {
                      width: 150px;
                      height: 0px;
                      opacity: 0;
                      position: absolute;
                      top: 63px;
                      right: 62px;
                      border-radius: 5px 0px 5px 5px;
                      background-color: #fff;
                      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                       0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                    .notifications h2 {
                      font-size: 14px;
                      padding: 10px;
                      border-bottom: 1px solid #eee;
                      color: #999;
                    }
                    .notifications h2 span {
                      color: #f00;
                    }
                    .notifications-item {
                      display: flex;
                      border-bottom: 1px solid #eee;
                      padding: 6px 9px;
                      margin-bottom: 0px;
                      cursor: pointer;
                    }
                    .notifications-item:hover {
                      background-color: #eee;
                    }
                    .notifications-item img {
                      display: block;
                      width: 50px;
                      height: 50px;
                      margin-right: 9px;
                      border-radius: 50%;
                      margin-top: 2px;
                    }
                    .notifications-item .text h4 {
                      color: #777;
                      font-size: 16px;
                      margin-top: 3px;
                    }
                    .notifications-item .text p {
                      color: #aaa;
                      font-size: 12px;
                    }
                  </style>
                <!-- <div>
                  <span class="text-white fs-small p-0">Diane Ward</span>
                </div>
                <div class="p-3">
                  <img
                    src="./asset/Ellipse 461.svg"
                    alt="user-icon"
                    style="width: 2.5rem"
                  />
                </div> -->
              </div>
            <!-- ------main-content -->
            <section class="con-inner cr-order">
                <div class="container">
                    <div class="con-head">
                        <div class="heading">
                            <a href="employee.html">
                                <a href="orders-1.html">
                                    <div class="back-btn">
                                        <img src="{% static 'images/Icon material-arrow_back.png' %}" alt="">
                                    </div>
                                </a>
                            </a>
                            <h4>Add new orders :</h4>
                        </div>
                    </div>

                    <div class="add-new-main">
                        <form action="" method="POST">
                            <div class="fields-main">
                                <div class="input-field order">
                                    <button class="add-transection">
                                        <a href="#" class="sender-popup-btn">
                                            <span>Add new sender</span>
                                            <div class="icon">
                                                <img src="{% static 'images/Group 16118.png' %}" alt="">
                                            </div>
                                        </a>
                                    </button>
                                </div>

                                <div class="WRU-main">
                                    <h5>Who are you?</h5>
                                    <div class="WRU-fields">

                                        <div class="sel-field">
                                            <img src="{%static 'images/flag.png' %}" alt="">
                                            <select name="" id="">
                                                <option value="" aria-readonly>Select</option>
                                                <option value="">option</option>
                                                <option value="">option</option>
                                                <option value="">option</option>
                                                <option value="">option</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <input type="text" placeholder="666 000 111 333">
                                        </div>
                                        <a href="{% url 'new_orders' %}"><input class="submit" value="Enter"></a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>
<!-- --------popup-------- -->
<div class="sender-popup order-sender">
    <div class="login-main popup">
        <div class="container active">
            <div class="popup-main">
                <div class="popup-head">
                    <div class="icon-popup">
                        <img src="{% static 'images/Group 16979.png' %}" alt="">
                        <h2>Add new sender</h2>
                    </div>
                    <div class="cross">
                        <img src="{% static 'images/Group 16988.png' %}" alt="">
                    </div>
                </div>
                <div class="popup-body">
                    <form action="">
                        <div class="input-field">
                            <label for="name">Name</label>
                            <div class="input-main">
                                <input type="text" id="name" required>
                            </div>
                        </div>
                        <div class="input-field select-field">
                            <label for="phone">Phone number</label>
                            <div class="input-main">
                                <select name="" id="">
                                    <option value="+92">+92</option>
                                    <option value="+91">+91</option>
                                </select>
                                <input type="number" id="phone" required>
                            </div>
                        </div>
                        <div class="input-field select-field">
                            <label for="phone">License No</label>
                            <div class="input-main">
                                <!-- <select name="" id="">
                                    <option value="+92">+92</option>
                                    <option value="+91">+91</option>
                                </select> -->
                                <input type="number" id="phone" required>
                            </div>
                        </div>
                        <div class="input-field select-field">
                            <label for="phone">Address</label>
                            <div class="input-main">
                                <!-- <select name="" id="">
                                    <option value="+92">+92</option>
                                    <option value="+91">+91</option>
                                </select> -->
                                <input type="text" id="phone" required>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <div class="input-field select-field">
                                    <label for="phone"> DOB</label>
                                    <div class="input-main">
                                        <!-- <select name="" id="">
                                            <option value="+92">+92</option>
                                            <option value="+91">+91</option>
                                        </select> -->
                                        <input type="date" id="phone" required>
                                    </div>
                                </div>
                                <div class="input-field select-field">
                                    <label for="phone">  License Expiration</label>
                                    <div class="input-main">
                                        <!-- <select name="" id="">
                                            <option value="+92">+92</option>
                                            <option value="+91">+91</option>
                                        </select> -->
                                        <input type="date" id="phone" required>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="input-field submit-btn">
                            <input type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
<script>
    // --------popup-----
    $(document).ready(function () {
        $(".sender-popup-btn").click(function () {
            $(".sender-popup").show();
        });
        $(".cross").click(function () {
            $(".sender-popup").hide();
        });
    });

    // ---responsive navbar----
    $(document).ready(function () {
        $(".toggler-res").click(function () {
            $(".dashboard-res").css("display", "none");
            $(".toggler-res-nav").css("display", "flex");
            $(".main-content").css("width", "calc(100% - 0px)");
        });
    });

    $(document).ready(function () {
        $(".toggler-res-nav").click(function () {
            $(".dashboard-res").css("display", "block");
            $(".toggler-res").css("display", "flex");
            $(".toggler-res-nav").css("display", "none");
            $(".main-content").css("width", "calc(100% - 80px)");
        });
    });
</script>
{% endblock right_data %}