{% extends 'temp.html' %}
{% load static %}
{% block right_data %}
        <!-- -------right side main content------ -->
        <div class="main-content">
            <nav>
                <div class="logo">
                    <div class="toggler-res-nav">
                        <img src="{% static 'images/white-ham.png' %}" alt="">

                    </div>
                </div>
                <div class="top">
                    <img src="{% static 'images/profile-img.png' %}" alt="">

                </div>
            </nav>
            <!-- ------main-content -->
            <section class="con-inner">
                <div class="container">
                    <div class="con-head">
                        <div class="heading">
                            <div class="back-btn">
                                <a href="{% url 'dashboard' %}"> <img
                                        src="{% static 'images/Icon material-arrow_back.png' %}" alt=""></a>
                            </div>
                            <h4>Balance history :</h4>
                        </div>
                        <div class="blue2-btn">
                            <a href="{% url 'add_balance' %}" class="sender-popup-btn">Add new</a>
                        </div>
                    </div>
                    <div class="con-tbl">
                        <table>
                            <tr>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Amount added</th>
                            </tr>
                            {% for instance in queryset %}
                            <tr>
                                <td>{{instance.id}}</td>
                                <td>{{instance.date}}</td>
                                <td>{{instance.time}}</td>
                                <td>{{instance.amount}}</td>

                            </tr>
                            {% endfor %}


                        </table>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>

</html>
<script>
    // ---responsive navbar----
    $(document).ready(function () {
        $(".toggler-res").click(function () {
            $(".dashboard-res").css("display", "none");
            $(".toggler-res-nav").css("display", "flex");
            $(".main-content").css("width", "calc(100% - 0px)");
        });
    });

    $(document).ready(function () {
        $(".toggler-res-nav").click(function () {
            $(".dashboard-res").css("display", "block");
            $(".toggler-res").css("display", "flex");
            $(".toggler-res-nav").css("display", "none");
            $(".main-content").css("width", "calc(100% - 80px)");
        });
    });
</script>
{% endblock right_data %}